.card img {
  margin: 7%;
  width: 85%;
  height: 85%;
  /* padding: 10px 15px; */
}

.card-body{
  padding: 10px 15px;
}


.card-footer{
  padding: 10px 15px;
  background-color: #fff;
  border-top: none;
}

.isMobile{
  width: 75%;
}

.isMobileContainer{
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 48rem) {

  .isMobileContainer{
    justify-content: center;
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-gap: 20px;
  }


}
